@using Microsoft.AspNetCore.Identity
@using HacatonApp.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="d-flex align-items-center gap-2">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangeProfile" title="Профиль">
            Привет, @UserManager.GetUserName(User)!
        </a>
        <button type="submit" class="btn btn-link nav-link text-dark p-0">Выйти</button>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
        </li>
    </ul>
}
