@model JuryZaiavkaViewModel
@{
    ViewData["Title"] = "Заявка на судью";
}

<form method="post">
    <input name="FirstName" placeholder="Имя" />
    <input name="LastName" placeholder="Фамилия" />
    < name="Motivation" placeholder="Мотивация" />
    <input name="ContactEmail" placeholder="Email" />
    <button type="submit">Отправить</button>
</form>
