@{
    ViewData["Title"] = "Админ панель";
}

<h2>Админ панель</h2>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h5>Управление пользователями</h5>
            </div>
            <div class="card-body">
                <p>Просмотр и редактирование пользователей, назначение ролей</p>
                <a asp-action="Users" class="btn btn-primary">Перейти к пользователям</a>
            </div>
            <div class="card-body">
                <p>Просмотр заявок на Жюри</p>
                <a asp-action="Zaiavki" class="btn btn-primary">Перейти к заявкам</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5>Информация</h5>
            </div>
            <div class="card-body">
                <p>Добро пожаловать в панель администратора</p>
                <p>Вы можете управлять пользователями и их ролями</p>
            </div>
        </div>
    </div>
</div>